<!DOCTYPE html>
<html>
  <head>
    <title>TestProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%link_to "Sign In", '#sign_in'%>
  <a href ="#sign_out">Sign Out </a>
  <%link_to "Sign out", '#sign_out'%>
  <a href ="#sign_in">Sign In </a>
  <%= yield %>
  </body>
</html>
